html body {
  height: 100%;
  width: 100%;
}

.homeContainer {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.backgroundImage {
  height: 100vh;
  background: linear-gradient(
                     rgba(53,164,157, .4),
                     rgba(53,164,157, .4)),
                     url("./assets/laptop.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 966px) {
  .backgroundImage {
    height: 80vh;
  }
}

.homeLogo {
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}

.homeName {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 100px;
  color: #fff;
  text-align: center;
}

@media (max-width: 966px) {
  .homeName {
    font-size: 80px;
  }
}

@media (max-width: 773px) {
  .homeName {
    font-size: 60px;
  }
}

@media (max-width: 580px) {
  .homeName {
    font-size: 40px;
  }
}

.homeTagline {
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  color: #fff;
  text-align: center;
}

@media (max-width: 966px) {
  .homeTagline {
    font-size: 40px;
  }
}

@media (max-width: 773px) {
  .homeTagline {
    font-size: 35px;
  }
}

@media (max-width: 580px) {
  .homeTagline {
    font-size: 30px;
  }
}

.navBar {
  height: 78px;
  width: 100vw;
  background-color: #3E3E3E;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-wrapper {
  height: 78px;
  background-color: #35A49D;
}

.mobileNav {
  display: none;
}

.selected {
  border: 1px solid #ffe89c;
}

.navBar ul {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}

.navBar ul li {
  padding: 10px;
  border: 1px solid #3E3E3E;
}

.navBar ul li a:hover {
  color: #ffe89c;
  transition: 0.5s;
}


.navBar ul li a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  padding: 10px;
}

@media (max-width: 966px) {
  .navBar ul li a {
    font-size: 15px;
  }
}

@media (max-width: 835px) {
  .navBar ul li a {
    font-size: 13px;
  }
}

.fixed {
  position: fixed;
	top: 0;
	height: 78px;
	z-index: 1;
  border-bottom: 2px solid #ffe89c;
  box-shadow: 0px 1px 10px #3E3E3E;
}

@media (max-width: 780px) {
  .nav-wrapper {
    display: none;
  }

  .mobileNav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #3E3E3E;
  }

  .mobileNav select {
    height: 40px;
    width: 90%;
    border: 1px solid #3E3E3E;
    border-radius: 5px;
    font-size: 20px;
  }
}

.aboutMeContainer {
  background-color: #35A49D;
  height: 700px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .aboutMeContainer {
    height: 1000px;
  }
}

@media (max-width: 900px) {
  .aboutMeContainer {
    height: 1100px;
  }
}

@media (max-width: 780px) {
  .aboutMeContainer {
    height: 1200px;
  }
}

@media (max-width: 700px) {
  .aboutMeContainer {
    height: 1300px;
  }
}

@media (max-width: 500px) {
  .aboutMeContainer {
    height: 1400px;
  }
}

@media (max-width: 450px) {
  .aboutMeContainer {
    height: 1500px;
  }
}

.aboutMeSection {
  width: 90vw;
  height: inherit;
}



#aboutMeTitle {
  width: 100vw;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  color: #fff;
  border-left: 8px solid #9AD1CE;
  padding-left: 20px;
  margin-top: 75px;
  margin-bottom: 10px;
  visibility: hidden;
}

@media (max-width: 780px) {
  #aboutMeTitle {
    font-size: 40px;
  }
}

.aboutMeMain {
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1000px) {
  .aboutMeMain {
    flex-direction: column;
  }
}

#profilePicture {
  border: 8px solid #9AD1CE;
  visibility: hidden;
  width: 300px;
  height: 417px;
}

#profileDescription {
  height: inherit;
  max-width: inherit;
  margin-left: 30px;
  color: #fff;
  visibility: hidden;
}

@media (max-width: 1000px) {
  #profileDescription {
    margin-left: 0px;
  }
}

.profileParagraph {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  line-height: 26px;
  font-size: 20px;
  max-height: inherit;
  max-width: inherit;
}

@media (max-width: 1300px) {
  .profileParagraph {
    font-size: 18px;
  }
}

@media (max-width: 1300px) {
  .profileParagraph {
    font-size: 18px;
  }
}




#paragraphDetails {
  width: inherit;
  height: 25vh;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

@media (max-width: 1100px) {
  #paragraphDetails {
    font-size: 13px;
  }
}

#paragraphDetails ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 780px) {
  #paragraphDetails ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

#paragraphDetails ul li h5 {
  margin: 5px 10px;
}

li h5 span {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.downloadResume {
  width: 296px;
  height: 60px;
  margin-top: 27px;
  background-color: #FFE89C;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.downloadResume:hover {
  background-color: #000;
  transition: 0.3s;
  text-decoration: none;
  outline: none;
}

.downloadResume:focus {
  text-decoration: none;
}

.downloadResume:hover p {
  color: #fff;
  transition: 0.3s;
}

.downloadResume:hover i {
  color: #fff;
  transition: 0.3s;
}

.downloadResume p {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadResume i {
  color: #000;
  margin: 0px 15px 0px 0px;
}

.myResumeContainer {
  height: 1150px;
  width: 100vw;
  background-color: #F9F5EA;
  display: flex;
  justify-content: center;
}

@media (max-width: 1350px) {
  .myResumeContainer {
    height: 1250px;
  }
}

@media (max-width: 1000px) {
  .myResumeContainer {
    height: 1400px;
  }
}

@media (max-width: 800px) {
  .myResumeContainer {
    height: 1700px;
  }
}

@media (max-width: 700px) {
  .myResumeContainer {
    height: 1800px;
  }
}

@media (max-width: 600px) {
  .myResumeContainer {
    height: 1900px;
  }
}

@media (max-width: 500px) {
  .myResumeContainer {
    height: 2000px;
  }
}

@media (max-width: 450px) {
  .myResumeContainer {
    height: 2100px;
  }
}

.myResumeSection {
  width: 90vw;
}

.myResumeTitle {
  width: 100vw;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  color: #3F3F3F;
  border-left: 8px solid #9D9B95;
  padding-left: 20px;
  visibility: hidden;
  margin-top: 70px;
}

@media (max-width: 780px) {
  .myResumeTitle {
    font-size: 40px;
  }
}

.myResumeEducation {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;

}

#myResumeWorkExperience {
  width: inherit;
  height: inherit;
}

.educationTitle {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 20px;
}

.education {
  height: auto;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

@media (max-width: 800px) {
  .education {
    flex-direction: column;
  }
}

.education:hover .dot {
  background-color: #35A49D;
  transition: 0.5s;
}

.educationDate {
  width: 15vw;
  padding-right: 30px;
  border-right: 1px solid #35A49D;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .educationDate {
    border-right: none;
  }
}

.educationName {
  width: 80vw;
  display: flex;
  align-items: center;
}

.dateBox {
  height: 11vh;
  width: 18vw;
  padding: 12px;
  border-radius: 5px;
  background-color: #FFE89C;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 800px) {
  .dateBox {
    min-width: 40vw;
    max-height: 5vh;
    margin-top: 20px;
  }
}

.dot {
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  border: 3px solid #35A49D;
  margin-left: -19px;
  background-color: #fff;
}

@media (max-width: 800px) {
  .dot {
    display: none;
  }
}

.collegeParagraph {
  width: auto;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
   .collegeParagraph {
     margin-left: 0px;
   }
}

.collegeTitle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.collegeDescription {
  color: #807d7c;
  line-height: 20px;
  margin-top: 15px;
  width: inherit;
  height: auto;
  padding: 15px 0px;
}


#education1 {
  visibility: hidden;
}

#education2 {
  visibility: hidden;
}

#work1 {
  visibility: hidden;
}

#work2 {
  visibility: hidden;
}

#work3 {
  visibility: hidden;
}

#educationTitle1 {
  visibility: hidden;
}

#educationTitle2 {
  visibility: hidden;
}

.mySkillsContainer {
  background-color: #3F3F3F;
  height: 575px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mySkillsSection {
  width: 90vw;
  height: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#mySkillsTitle {
  width: 1170px;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  color: #fff;
  border-left: 8px solid #9D9B95;
  padding-left: 20px;
  visibility: hidden;
}

#mySkillsSkills1 {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  visibility: hidden;
}

#mySkillsSkills2 {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  visibility: hidden;
}

.eachSkill {
  width: 170px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#skillIcons {
  color: #fff;
  font-size: 110px;
}

.skillNames {
  color: #fff;
  font-size: 18px;
}

.endorsementsContainer {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  background: linear-gradient(
                     rgba(53,164,157, .8),
                     rgba(53,164,157, .8)),
                     url("./assets/city9.jpg") no-repeat center center fixed;
}

.endorsementsSection {
  height: 100%;
  width: 90vw;
  margin-top: 50px;
}

#endorsementsTitle {
  width: 1170px;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  color: #fff;
  border-left: 8px solid #B8D4DB;
  padding-left: 20px;
  visibility: hidden;
}

.endorsements {
  width: 100%;
  height: 300px;
  margin-top: 40px;
  display: flex;
}

.endorsementComment {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  visibility: hidden;
}

.endorsePicture {
  height: 125px;
  width: 125px;
  border: 6px solid #9AD1CE;
}

.aboutEndorser {
  height: 125px;
  width: 300px;
  font-size: 18px;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: 10px;
  color: #fff;
}

.endorsementendorsement {
  font-weight: bold;
  font-size: 18px;
  height: 120px;
  width: 90%;
  border: 2px solid #FFE89C;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#portfolio {
  visibility: hidden;
}

.portfolioContainer {
  background-color: #F9F5EA;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolioSection {
  margin-top: 75px;
  width: 1170px;
  height: auto;
}

.portfolioTitle {
  width: 100%;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  border-left: 8px solid #9D9B95;
  padding-left: 20px;
}

.portfolioBody {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 75px;
  margin-top: 50px;
}

.portfolioItem {
  height: 221px;
  width: 379px;
  margin: 5px;
}

.portfolioItem img {
  height: 100%;
  width:  100%;
}

.contactContainer {
  background: linear-gradient(
                     rgba(53,164,157, .5),
                     rgba(53,164,157, .5)),
                     url("./assets/map.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactSection {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#contactTitle {
  margin-top: 75px;
  width: 100%;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  color: #fff;
  border-left: 8px solid #B8D4DB;
  padding-left: 20px;
  visibility: hidden;
}

.contactBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 75px;
  margin-top: 50px;
}

#contactInput {
  height: 100%;
  width: 856px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.contactForm {
  width: 850px;
  height: 42px;
  text-decoration: none;
  border: 2px solid #ffe89c;
  background: transparent;
  outline: none;
  margin-top: 10px;
}

.contactArea {
  background: transparent;
  border: 2px solid #ffe89c;
  max-width: 850px;
  max-height: 120px;
  text-decoration: none;
  outline: none;
  resize: none;
  margin-top: 10px;
}

.contactForm::-webkit-input-placeholder {
    color: #fff;
}
.contactForm:focus::-webkit-input-placeholder {
    color: #000;
}

.contactArea::-webkit-input-placeholder {
    color: #fff;
}
.contactArea:focus::-webkit-input-placeholder {
    color: #000;
}

.sendButton {
  width: 146px;
  height: 62px;
  background-color: #ffe89c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 25px;
  align-self: flex-end;
}

.sendButton:hover {
  background-color: #3E3E3E;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contactMe {
  background-color: rgba(63,63,63,0.5);
  height: 300px;
  width: 277px;
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.myInformation {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
}

.myInformation i {
  color: #ffe89c;
  margin-left: 20px;
  margin-right: 10px;
}

.footer {
  width: 100%;
  height: 269px;
  background-color: #3E3E3E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserved {
  color: #fff;
  font-size: 20px;
}


/*TABLETS*/
/*@media (max-width : 1200px) {

  .backgroundImage {
    height: 800px;
  }

  .homeLogo {
    width: 100%;
  }

  .homeName {
    font-size: 90px;
  }

  .navBar ul li a {
    font-size: 12px;
  }

  .aboutMeContainer {
    height: 750px;
  }

  .aboutMeSection {
    width: 90%;
    height: 700px;
  }

  .aboutMeMain {
    width: 100%;
  }

  #profilePicture {
    border: 8px solid #9AD1CE;
    width: 200px;
    height: 317px;
    visibility: hidden;
  }

  #profileDescription {
    height: 850px;
    width: 875px;
    margin-left: 30px;
    color: #fff;
    visibility: hidden;
  }

  .profileParagraph {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    height: 200px;
  }

  #paragraphDetails {
    height: 100px;
    display: flex;
  }

  #paragraphDetails ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .myResumeSection {
    width: 90%;
  }

  .myResumeEducation {
    width: 100%;
  }

  #myResumeWorkExperience {
    width: 100%;
  }

  .collegeParagraph {
    width: 100%;
    height: 200px;
  }

  .collegeDescription {
    margin-top: 15px;
    width: 100%;
  }

  .mySkillsSection {
    width: 90%;

  }

  .endorsementsContainer {
    height: 930px;
  }

  .endorsementsSection {
    width: 90%;
  }

  #endorsementsTitle {
    width: 100%;
  }

  .endorsements {
    width: 100%;
    height: 700px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .endorsementComment {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
  }

  .endorsementendorsement {
    height: 90px;
  }

  .portfolioSection {
    width: 90%;
  }

  .portfolioItem {
    height: 211px;
    width: 330px;
    margin: 5px;
  }

  .contactSection {
    width: 90%;
  }

  #contactInput {
    height: 90%;
    width: 70%;
  }

  .contactForm {
    width: 640px;
  }

  .contactArea {
    max-width: 651px;
  }

  .sendButton {
    width: 146px;
    height: 62px;
    background-color: #ffe89c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 25px;
    align-self: flex-end;
  }

  .sendButton:hover {
    background-color: #3E3E3E;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
  }

  #contactMe {
    background-color: rgba(63,63,63,0.5);
    height: 310px;
    width: 195px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }

  .myInformation {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
  }

  .myInformation i {
    color: #ffe89c;
    width: 100%;
    margin-left: 5px;
    margin-right: 0px;
  }



}*/
/*END TABLET RESPONSIVE DESIGN*/

/*@media (max-width : 725px) {

  .backgroundImage {
    height: 440px;
    background: linear-gradient(
                       rgba(53,164,157, .4),
                       rgba(53,164,157, .4)),
                       url("./assets/laptop.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .homeLogo {
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
  }

  .homeName {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #fff;
    margin-bottom: 0px;
    text-align: center;
  }

  .homeTagline {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
  }

  .nav-wrapper {
    display: none;
  }

  .mobileNav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #3E3E3E;
  }

  .mobileNav select {
    height: 40px;
    width: 90%;
    border: 1px solid #3E3E3E;
    border-radius: 5px;
    font-size: 20px;
  }

  .aboutMeContainer {
    height: 1550px;
    width: 100%;
    align-items: flex-start;
  }

  .aboutMeSection {
    width: 90%;
    height: 90%;
    margin-top: 100px;
  }

  #aboutMeTitle {
    width: 100%;
    height: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #fff;
    border-left: 8px solid #9AD1CE;
    padding-left: 20px;
    visibility: hidden;
  }

  .aboutMeMain {
    width: 100%;
    height: 417px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  #profilePicture {
    border: 15px solid #9AD1CE;
    width: 340px;
    height: 540px;
    visibility: hidden;
  }

  #profileDescription {
    height: 717px;
    width: 370px;
    margin-left: 0px;
    margin-top: 20px;
    color: #fff;
    visibility: hidden;
    display: flex;
    flex-direction: column;
  }

  .profileParagraph {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    height: 1000px;
  }

  #paragraphDetails {
    margin-top: 50px;
    height: 500px;
  }

  #paragraphDetails ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  li h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  li h5 span {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }

  .downloadResume p {
    width: 296px;
    height: 60px;
    border: 1px solid #FFE89C;
    margin-top: 57px;
    background-color: #FFE89C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
  }

  .myResumeContainer {
    height: 2250px;
  }

  .myResumeSection {
    width: 90%;
  }

  .myResumeTitle {
    width: 100%;
    height: 100px;
    font-size: 40px;
    margin-bottom: 10px;
  }

  #myResumeWorkExperience {
    width: 100%;
    height: 515px;
  }

  .myResumeEducation {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
  }

  .educationTitle {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10px;
  }

  .education {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .educationDate {
    width: 100%;
    margin-top: 50px;
    padding-right: 0px;
    border-right: none;
    display: flex;
    align-items: center;
  }

  .educationName {
    width: 100%;
    display: flex;
    align-items: flex-start;
    }

  .dateBox {
    height: 54px;
    width: 360px;
    background-color: #FFE89C;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .dot {
    display: none;
  }

  .collegeParagraph {
    width: 100%;
    height: 280px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .mySkillsContainer {
    height: 2500px;
    width: 100%;
  }

  .mySkillsSection {
    width: 90%;
    height: 2400px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  #mySkillsSkills1 {
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    visibility: hidden;
    flex-direction: column;
  }

  #mySkillsSkills2 {
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    visibility: hidden;
    flex-direction: column;
  }

  .eachSkill {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  #skillIcons {
    color: #fff;
    font-size: 180px;
  }

  .skillNames {
    color: #fff;
    font-size: 18px;
  }

  #mySkillsTitle {
    font-size: 40px;
  }

  .endorsementsContainer {
    display: flex;
    justify-content: center;
    height: 1000px;
    width: 100%;
    background: linear-gradient(
                       rgba(53,164,157, .8),
                       rgba(53,164,157, .8)),
                       url("./assets/city9.jpg") no-repeat center center fixed;
  }

  .endorsementsSection {
    height: 100%;
    width: 90%;
    margin-top: 50px;
  }

  #endorsementsTitle {
    width: 100%;
    height: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #fff;
    border-left: 8px solid #B8D4DB;
    padding-left: 20px;
    visibility: hidden;
  }

  .endorsements {
    width: 100%;
    height: 1500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .endorsementComment {
    width: 100%;
    height: 350px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    visibility: hidden;
  }

  .endorsePicture {
    height: 125px;
    width: 125px;
    border: 6px solid #9AD1CE;
  }

  .aboutEndorser {
    height: 55px;
    width: 200px;
    font-size: 18px;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
    color: #fff;
  }

  .endorsementendorsement {
    font-weight: bold;
    font-size: 18px;
    height: 160px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
  }

  .portfolioItem {
    margin: 5px;
  }

  .portfolioSection {
    width: 90%;
  }

  .portfolioTitle {
    font-size: 40px;
  }

  .contactContainer {
    height: 950px;
  }

  .contactSection {
    width: 90%;
  }

  #contactTitle {
    font-size: 40px;
  }

  .contactBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
    margin-top: 50px;
  }

  #contactInput {
    height: 350px;
    width: 378px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }

  .contactForm {
    width: 372px;
    height: 42px;
    text-decoration: none;
    border: 2px solid #ffe89c;
    background: transparent;
    outline: none;
    margin-top: 10px;
  }

  .contactArea {
    max-width: 378px;
    max-height: 120px;
  }

  #contactMe {
    background-color: rgba(63,63,63,0.5);
    height: 300px;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }

  .myInformation {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
  }

  .myInformation i {
    color: #ffe89c;
    margin-left: 20px;
    margin-right: 10px;
  }







}*/
/*END PHONE RESPONSIVE DESIGN*/
