html body {
  height: 100%;
  width: 100%;
}

.homeContainer {
  overflow-x: hidden;
}

.backgroundImage {
  height: 615px;
  background: -webkit-linear-gradient(
                     rgba(53,164,157, .4),
                     rgba(53,164,157, .4)),
                     url("./assets/laptop.jpg") no-repeat center center fixed;
  background: linear-gradient(
                     rgba(53,164,157, .4),
                     rgba(53,164,157, .4)),
                     url("./assets/laptop.jpg") no-repeat center center fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 966px) {
  .backgroundImage {
    height: 400px;
  }
}

.homeLogo {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.homeName {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 100px;
  color: #fff;
  text-align: center;
}

@media (max-width: 966px) {
  .homeName {
    font-size: 80px;
  }
}

@media (max-width: 773px) {
  .homeName {
    font-size: 60px;
  }
}

@media (max-width: 580px) {
  .homeName {
    font-size: 40px;
  }
}

@media (max-width: 390px) {
  .homeName {
    font-size: 30px;
  }
}

.homeTagline {
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  color: #fff;
  text-align: center;
}

@media (max-width: 966px) {
  .homeTagline {
    font-size: 40px;
  }
}

@media (max-width: 773px) {
  .homeTagline {
    font-size: 35px;
  }
}

@media (max-width: 580px) {
  .homeTagline {
    font-size: 30px;
  }
}

@media (max-width: 390px) {
  .homeTagline {
    font-size: 20px;
  }
}

.navBar {
  height: 78px;
  width: 100vw;
  background-color: #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-wrapper {
  height: 78px;
  background-color: #35A49D;
}

.mobileNav {
  display: none;
}

.selected {
  border: 1px solid #ffe89c;
}

.navBar ul {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
}

.navBar ul li {
  padding: 10px;
  border: 1px solid #3E3E3E;
}

.navBar ul li a:hover {
  color: #ffe89c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


.navBar ul li a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  padding: 10px;
}

@media (max-width: 966px) {
  .navBar ul li a {
    font-size: 15px;
  }
}

@media (max-width: 835px) {
  .navBar ul li a {
    font-size: 13px;
  }
}

.fixed {
  position: fixed;
	top: 0;
	height: 78px;
	z-index: 1;
  border-bottom: 2px solid #ffe89c;
  box-shadow: 0px 1px 10px #3E3E3E;
}

@media (max-width: 780px) {
  .nav-wrapper {
    display: none;
  }

  .mobileNav {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80px;
    background-color: #3E3E3E;
  }

  .mobileNav select {
    height: 40px;
    width: 90%;
    border: 1px solid #3E3E3E;
    border-radius: 5px;
    font-size: 20px;
  }
}

.aboutMeContainer {
  background-color: #35A49D;
  height: 700px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1032px) {
  .aboutMeContainer {
    height: 750px;
  }
}

@media (max-width: 1000px) {
  .aboutMeContainer {
    height: 1000px;
  }
}

@media (max-width: 900px) {
  .aboutMeContainer {
    height: 1050px;
  }
}

@media (max-width: 858px) {
  .aboutMeContainer {
    height: 1100px;
  }
}

@media (max-width: 780px) {
  .aboutMeContainer {
    height: 1150px;
  }
}

@media (max-width: 700px) {
  .aboutMeContainer {
    height: 1200px;
  }
}

@media (max-width: 596px) {
  .aboutMeContainer {
    height: 1225px;
  }
}

@media (max-width: 520px) {
  .aboutMeContainer {
    height: 1275px;
  }
}

@media (max-width: 456px) {
  .aboutMeContainer {
    height: 1300px;
  }
}

@media (max-width: 445px) {
  .aboutMeContainer {
    height: 1350px;
  }
}

@media (max-width: 412px) {
  .aboutMeContainer {
    height: 1375px;
  }
}

@media (max-width: 395px) {
  .aboutMeContainer {
    height: 1400px;
  }
}

@media (max-width: 374px) {
  .aboutMeContainer {
    height: 1440px;
  }
}

@media (max-width: 360px) {
  .aboutMeContainer {
    height: 1460px;
  }
}

@media (max-width: 348px) {
  .aboutMeContainer {
    height: 1440px;
  }
}

.aboutMeSection {
  width: 90vw;
  height: inherit;
}

#aboutMeTitle {
  width: 100vw;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  color: #fff;
  border-left: 8px solid #9AD1CE;
  padding-left: 20px;
  margin-top: 75px;
  margin-bottom: 10px;
  visibility: hidden;
}

@media (max-width: 780px) {
  #aboutMeTitle {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  #aboutMeTitle {
    font-size: 30px;
  }
}

.aboutMeMain {
  width: 90vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1000px) {
  .aboutMeMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#profilePicture {
  border: 8px solid #9AD1CE;
  visibility: hidden;
}

@media (max-width: 350px) {
  #profilePicture {
    width: 80vw;
    height: auto;
  }
}

#profileDescription {
  height: inherit;
  max-width: inherit;
  margin-left: 30px;
  color: #fff;
  visibility: hidden;
}

@media (max-width: 1000px) {
  #profileDescription {
    margin-left: 0px;
  }
}

.profileParagraph {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 20px;
  max-height: inherit;
  max-width: inherit;
}

@media (max-width: 1300px) {
  .profileParagraph {
    font-size: 18px;
  }
}

@media (max-width: 1300px) {
  .profileParagraph {
    font-size: 18px;
  }
}

@media (max-width: 350px) {
  .profileParagraph {
    font-size: 17px;
  }
}

#paragraphDetails {
  width: inherit;
  height: 25vh;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

@media (max-width: 1100px) {
  #paragraphDetails {
    font-size: 13px;
  }
}

#paragraphDetails ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 780px) {
  #paragraphDetails ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#paragraphDetails ul li h5 {
  margin: 5px 10px;
}

li h5 span {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 350px) {
   li h5 span {
    font-size: 17px;
  }
}

.downloadResume {
  width: 296px;
  height: 60px;
  margin-top: 27px;
  background-color: #FFE89C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

@media (max-width: 325px) {
  .downloadResume {
    width: 90vw;
    height: 12vh;
  }
}

.downloadResume:hover {
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  outline: none;
}

.downloadResume:focus {
  text-decoration: none;
}

.downloadResume:hover p {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.downloadResume:hover i {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.downloadResume p {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.downloadResume i {
  color: #000;
  margin: 0px 15px 0px 0px;
}

.myResumeContainer {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #F9F5EA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myResumeSection {
  width: 90vw;
  margin-bottom: 15px;
}

.myResumeTitle {
  width: 100vw;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  color: #3F3F3F;
  border-left: 8px solid #9D9B95;
  padding-left: 20px;
  visibility: hidden;
  margin-top: 70px;
}

@media (max-width: 780px) {
  .myResumeTitle {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .myResumeTitle {
    font-size: 30px;
  }
}

.myResumeEducation {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}

#myResumeWorkExperience {
  width: inherit;
  height: inherit;
}

.educationTitle {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 20px;
}

.education {
  height: auto;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .education {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.education:hover .dot {
  background-color: #35A49D;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.educationDate {
  width: 15vw;
  padding-right: 30px;
  border-right: 1px solid #35A49D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .educationDate {
    border-right: none;
  }
}

.educationName {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dateBox {
  height: 11vh;
  width: 18vw;
  padding: 12px;
  border-radius: 5px;
  background-color: #FFE89C;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 800px) {
  .dateBox {
    min-width: 40vw;
    max-height: 5vh;
    margin-top: 20px;
  }
}

.dot {
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  border: 3px solid #35A49D;
  margin-left: -19px;
  background-color: #fff;
}

@media (max-width: 800px) {
  .dot {
    display: none;
  }
}

.collegeParagraph {
  width: auto;
  margin-left: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 800px) {
   .collegeParagraph {
     margin-left: 0px;
   }
}

.collegeTitle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.collegeDescription {
  color: #807d7c;
  line-height: 20px;
  margin-top: 15px;
  width: inherit;
  height: auto;
  padding: 15px 0px;
}


#education1 {
  visibility: hidden;
}

#education2 {
  visibility: hidden;
}

#work1 {
  visibility: hidden;
}

#work2 {
  visibility: hidden;
}

#work3 {
  visibility: hidden;
}

#educationTitle1 {
  visibility: hidden;
}

#educationTitle2 {
  visibility: hidden;
}

.mySkillsContainer {
  background-color: #3F3F3F;
  height: 585px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .mySkillsContainer {
    height: 700px;
  }
}

@media (max-width: 999px) {
  .mySkillsContainer {
    height: 750px;
  }
}

@media (max-width: 799px) {
  .mySkillsContainer {
    height: 900px;
  }
}

@media (max-width: 597px) {
  .mySkillsContainer {
    height: 1175px;
  }
}

@media (max-width: 400px) {
  .mySkillsContainer {
    height: 1050px;
  }
}

@media (max-width: 361px) {
  .mySkillsContainer {
    height: 930px;
  }
}

@media (max-width: 320px) {
  .mySkillsContainer {
    height: 900px;
  }
}

.mySkillsSection {
  width: 90vw;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mySkillsTitle {
  width: 100vw;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  margin-top: 50px;
  color: #fff;
  border-left: 8px solid #9D9B95;
  padding-left: 20px;
  visibility: hidden;
}

@media (max-width: 780px) {
  #mySkillsTitle {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  #mySkillsTitle {
    font-size: 30px;
  }
}

#mySkillsSkills {
  width: inherit;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  visibility: hidden;
}

.eachSkill {
  width: 140px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

@media (max-width: 400px) {
  .eachSkill {
    width: 120px;
  }
}

@media (max-width: 361px) {
  .eachSkill {
    padding: 10px;
    width: 110px;
  }
}

#skillIcons {
  color: #fff;
  font-size: 110px;
  margin-bottom: 2px;
}

@media (max-width: 400px) {
  #skillIcons {
    font-size: 90px;
  }
}

.skillNames {
  color: #fff;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 400px) {
  .skillNames {
    font-size: 16px;
  }
}

.endorsementsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: auto;
  overflow-y: hidden;
  background: -webkit-linear-gradient(
                     rgba(53,164,157, .8),
                     rgba(53,164,157, .8)),
                     url("./assets/city.jpg") no-repeat center center fixed;
  background: linear-gradient(
                     rgba(53,164,157, .8),
                     rgba(53,164,157, .8)),
                     url("./assets/city.jpg") no-repeat center center fixed;
}

@media (max-width: 1000px) {
  .endorsementsContainer {
    height: 900px;
  }
}

.endorsementsSection {
  height: inherit;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#endorsementsTitle {
  width: 90vw;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  color: #fff;
  border-left: 8px solid #B8D4DB;
  padding-left: 20px;
  margin-top: 50px;
  visibility: hidden;
}

@media (max-width: 780px) {
  #endorsementsTitle {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  #endorsementsTitle {
    font-size: 30px;
  }
}

.endorsements {
  width: inherit;
  height: inherit;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .endorsements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}


.endorsementComment {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  visibility: hidden;
  margin-bottom: 20px;
}


.endorsePicture {
  border: 6px solid #9AD1CE;
}

.aboutEndorser {
  height: 125px;
  width: auto;
  font-size: 18px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 10px;
  color: #fff;
}

@media (max-width: 400px) {
  .aboutEndorser {
    font-size: 16px;
  }
}

.endorsementendorsement {
  font-weight: bold;
  font-size: 18px;
  /*height: 120px;*/
  overflow-y: auto;
  width: 90%;
  border: 2px solid #FFE89C;
  color: #fff;
  padding: 15px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 400px) {
  .endorsementendorsement {
    font-size: 16px;
  }
}

#portfolio {
  visibility: hidden;
}

.portfolioContainer {
  background-color: #F9F5EA;
  height: auto;
  overflow-y: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 865px) {
  .portfolioContainer {
    height: 950px;
  }
}

@media (max-width: 440px) {
  .portfolioContainer {
    height: 850px;
  }
}

@media (max-width: 403px) {
  .portfolioContainer {
    height: 800px;
  }
}

@media (max-width: 387px) {
  .portfolioContainer {
    height: 725px;
  }
}

@media (max-width: 368px) {
  .portfolioContainer {
    height: 675px;
  }
}

.portfolioSection {
  width: 90vw;
  height: inherit;
}

.portfolioTitle {
  margin-top: 50px;
  width: 100vw;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  border-left: 8px solid #9D9B95;
  padding-left: 20px;
}

@media (max-width: 780px) {
  .portfolioTitle {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .portfolioTitle {
    font-size: 30px;
  }
}

.portfolioBody {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 75px;
  margin-top: 50px;
}

.portfolioItem {
  height: 221px;
  width: 379px;
  margin: 5px;
  position: relative;
}

.portfolioItem:hover .portfolioLink {
  visibility: visible;
  background: -webkit-linear-gradient(rgba(53,164,157, .4), rgba(53,164,157, .4));
  background: linear-gradient(rgba(53,164,157, .4), rgba(53,164,157, .4));
}

.portfolioLink {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolioLink a {
  border: 2px solid white;
  padding: 30px 60px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background: -webkit-linear-gradient(rgba(53,164,157, .9), rgba(53,164,157, .9));
  background: linear-gradient(rgba(53,164,157, .9), rgba(53,164,157, .9));
}

@media (max-width: 500px) {
  .portfolioLink a {
    padding: 20px 50px;
    margin-bottom: 5px;
  }
}


.portfolioItem img {
  height: 100%;
  width:  100%;
}

@media (max-width: 440px) {
  .portfolioItem {
    height: 200px;
    width: 359px;
  }
}

@media (max-width: 410px) {
  .portfolioItem {
    height: 180px;
    width: 339px;
  }
}

@media (max-width: 385px) {
  .portfolioItem {
    height: 160px;
    width: 319px;
  }
}

@media (max-width: 365px) {
  .portfolioItem {
    height: 140px;
    width: 269px;
  }
}

@media (max-width: 340px) {
  .portfolioItem {
    height: 170px;
    width: 259px;
  }
}

@media (max-width: 320px) {
  .portfolioItem {
    height: 150px;
    width: 249px;
  }
}

.contactContainer {
  background: -webkit-linear-gradient(
                     rgba(53,164,157, .5),
                     rgba(53,164,157, .5)),
                     url("./assets/map.png") no-repeat center center fixed;
  background: linear-gradient(
                     rgba(53,164,157, .5),
                     rgba(53,164,157, .5)),
                     url("./assets/map.png") no-repeat center center fixed;
  background-size: cover;
  /*height: 650px;*/
  height: auto;
  overflow-y: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactSection {
  width: 90vw;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactTitle {
  margin-top: 50px;
  width: 100vw;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  color: #fff;
  border-left: 8px solid #B8D4DB;
  padding-left: 20px;
  visibility: hidden;
}

@media (max-width: 780px) {
  #contactTitle {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  #contactTitle {
    font-size: 30px;
  }
}

.contactBody {
  width: inherit;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 75px;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 875px) {
  .contactBody {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
}

#contactInput {
  overflow-y: auto;
  overflow-x: hidden;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;

}

@media (max-width: 875px) {
  #contactInput {
    width: 90vw;
    height: 50vh;
  }
}

.contactForm {
  max-width: 850px;
  height: 42px;
  text-decoration: none;
  border: 2px solid #ffe89c;
  background: transparent;
  outline: none;
  margin-top: 10px;
}

@media (max-width: 875px) {
  .contactForm {
    height: 160px;
  }
}

.contactArea {
  background: transparent;
  border: 2px solid #ffe89c;
  max-width: 850px;
  max-height: 120px;
  text-decoration: none;
  outline: none;
  resize: none;
  margin-top: 10px;
}

@media (max-width: 875px) {
  .contactArea {
    height: 500px;
  }
}

.contactForm::-webkit-input-placeholder {
    color: #fff;
}
.contactForm:focus::-webkit-input-placeholder {
    color: #000;
}

.contactArea::-webkit-input-placeholder {
    color: #fff;
}
.contactArea:focus::-webkit-input-placeholder {
    color: #000;
}

.sendButton {
  width: 146px;
  height: 62px;
  background-color: #ffe89c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
}

@media (max-width: 875px) {
  .sendButton {
    width: 90vw;
    margin-top: 10px;
    height: 180px;
  }
}

.sendButton:hover {
  background-color: #3E3E3E;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

#contactMe {
  background-color: rgba(63,63,63,0.5);
  height: 40vh;
  width: 20vw;
  margin-left: 30px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
}

#contactMe div {
  font-family: 'Lato', sans-serif;
  padding: 1px;
}

@media (max-width: 1275px) {
  #contactMe div {
    font-size: 14px;
  }
}

@media (max-width: 875px) {
  #contactMe div {
    font-size: 16px;
  }
}

@media (max-width: 1040px) {
  #contactMe {
    width: 22vw;
    height: 44vh;
  }
}

@media (max-width: 950px) {
  #contactMe {
    width: 24vw;
  }
}

@media (max-width: 875px) {
  #contactMe {
    width: 90vw;
    margin-left: 0px;
  }
}

.myInformation {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 18px;
}

.myInformation i {
  color: #ffe89c;
  margin-left: 20px;
  margin-right: 10px;
}

.footer {
  width: 100%;
  height: 269px;
  background-color: #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reserved {
  color: #fff;
  font-size: 20px;
}

.help-block {
  color: #cc2626;
  font-family: 'Lato', sans-serif;
}

/*ANIMATIONS*/

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		opacity: 0.0;
	}
	100% {
		opacity: 1;
	}
}
